.wrap {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.wrap .box {
  margin: 0;
  padding: 0;
}
.wrap .box .box1 {
  padding: 20px;
  color: red;
  font-size: 20px;
}
body {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
}
html div {
  margin: 0;
  padding: 0;
}
html p {
  margin: 0;
  padding: 0;
}
